# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, build with `go test -c`
*.test
testbin

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor dependencies
vendor

# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~
tmp
target
.scannerwork
api/v1beta1/zz_generated.deepcopy.go
api/v1beta2/zz_generated.deepcopy.go
