<%= form_tag(api_services_path) do -%>
  <label for="service_name">Name</label>
  <input type="text" name="name" id="service_name"/>

  <label for="service_description">Description</label>
  <textarea name="description" id="service_description"></textarea>

  <input type="submit" value="Save"/>
<% end -%>
