<table>
  <tr>
    <th>Service ID</th>
    <td><%= @service.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @service.name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @service.description %></td>
  </tr>
</table>

<p>
  The info in this page is fake, but at least you can access it, yay!
</p>
