name: End-to-end Tests

on:
  workflow_dispatch:
    inputs:
      operatorVersion:
        description: Authorino Operator version
        required: true
        default: latest

jobs:
  e2e-tests:
    name: End-to-end Tests
    strategy:
      matrix:
        platform: [ ubuntu-latest ]
        authconfig_version: [ v1beta2, v1beta3 ]
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
        id: go
      - name: Install jq
        run: sudo apt-get install jq
      - name: Run make e2e
        env:
          OPERATOR_VERSION: ${{ github.event.inputs.operatorVersion }}
          AUTHCONFIG_VERSION: ${{ matrix.authconfig_version }}
        run: |
          make e2e
