name: End-to-end Tests

on:
  workflow_dispatch:
    inputs:
      operatorVersion:
        description: Authorino Operator version
        required: true
        default: latest

jobs:
  e2e-tests:
    name: End-to-end Tests
    strategy:
      matrix:
        go-version: [1.20.x]
        platform: [ubuntu-latest]
        authconfig_version: [v1beta1, v1beta2]
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
        id: go
      - name: Install jq
        run: sudo apt-get install jq
      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.sha }}
      - name: Run make e2e
        env:
          OPERATOR_VERSION: ${{ github.event.inputs.operatorVersion }}
          AUTHCONFIG_VERSION: ${{ matrix.authconfig_version }}
        run: |
          make e2e
